QPushButton#baseButton{
  background-color: #543964;
  color: #f7f7c1;
  font-weight: 600;
  border-radius: 8px;
  border: 1px solid #46394B;
  padding: 5px 15px;
  margin-top: 10px;
  outline: 0px;
}
QMainWindow{
background-color: #876C99;
}